{% load static %}
<!DOCTYPE html>
<html lang = "ko">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Camera</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A800"/>
  <link rel="stylesheet" href="{% static 'styles/camera.css' %}">
</head>
<body>
<div class="camera-main">
  <p class="header-title">CAMERA</p>  
  <div class="camera-header">
    <div class="header-bg"><img id="camera-viewer" src="" alt="Webcam Video"></div>
  </div>
  <div class="camera-info">
    <div class="info-bg1"></div>
    <div class="info-bg2"></div>
    <p class="time-text" id="mins">10</p>
    <p class="time-text" id="min-unit">min</p>
    <p class="time-text" id="seconds">00</p>
    <p class="time-text" id="second-unit">sec</p>
    <p class="set-text" id="set-num">1/3</p>
    <p class="set-text" id="set-unit">sets</p>
  </div>
</div>
<p id="feedback" style="text-align: center"></p>
<script src="{% static 'javascripts/indexforCamera.js' %}"></script>
<script>

</script>
</body>
</html>