{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Goal | AI Health Trainer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/goal.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="left-pane">
        <div class="left-background"></div>
      </div>
      <div class="right-pane">
        <p class="title">
          SETTING YOUR
          <span>GOAL</span>
        </p>
        <form method="post" action="{% url 'goal' %}">
          {% csrf_token %}
          <div class="date-section">
            <div class="start" id="btnStart">
              <label for="start-date" class="start-label">Start Date</label>
              <input
                type="date"
                id="start-date"
                name="start-date"
                class="start-text"
              />
            </div>
            <div class="end">
              <label for="end-date" class="end-label">End Date</label>
              <input
                type="date"
                id="end-date"
                name="end-date"
                class="end-text"
              />
            </div>
            <div class="goal">
              <label for="hours" class="hours-label">Hours</label>
              <input type="number" id="hours" name="hours" step="1" min="1" />

              <label for="minutes" class="minutes-label">Minutes</label>
              <input
                type="number"
                id="minutes"
                name="minutes"
                step="1"
                min="0"
                max="59"
              />
            </div>
            <input class="button" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script src="{% static 'javascripts/indexforGoal.js' %}"></script>
    <!-- <script src="../../../static/javascripts/indexforGoal.js"></script> -->
  </body>
</html>
