{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp | AI Health Trainer</title>

    <!-- STYLE -->
    <!-- <link rel="stylesheet" href="../../../static/styles/signup.css" /> -->
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
    

    <!-- ICON -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="coba">
      <div class="container">
        <h2>
          <span>Create</span> <br />An Account</h2>
        <hr />
        <div class="box-input">
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="input-email">
              <label for="email">Email Address</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="input-password">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
              <span id="iconClick"><i id="icon" class="material-icons">visibility_off</i></span>
            </div>
            <div class="input-password">
              <label for="password">Check Password</label>
              <input type="password" name="checkpassword" id="checkpassword" />
              <span id="iconClick"><i id="iconCheck" class="material-icons">visibility_off</i></span>
            </div>
            <div class="input-username">
              <label for="username">Username</label>
              <input type="username" name="username" id="username" />
            </div>
          
            <button class="btnLogin" type="submit">Sign Up</button>
            <p>Already have an Account ? <span><a href="{% url 'login' %}">LogIn</a></span> </p>
          </form>
          
        </div>
      </div>
    </div>
    <div class="image-container">
        <img src="../../../static/assets/logoteam.png" alt="logo">
        <!-- <div class="img">
            <img src="./img/logoteam.png" alt="logo">
        </div> -->
    </div>
    
    <script src="{% static 'javascripts/signup.js' %}"></script>
    <!-- <script src="./js/signup.js"></script> -->
  </body>
</html>
