html {
    font-size:62.5%;
    color: #ffffff;
  }
  * {
    margin: 0;
    padding: 0;
  }
  ul, li {
    list-style: none;
  }
  input {
    border: none;
  }
  
  .container {
    box-sizing: border-box;
    padding-right: 14.7rem;
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #000000;
  }
  
  .left-pane {
    /* margin-right: 7.5rem; */
    width: 76.4rem;
    height: 102.4rem;
    flex-shrink: 0;
    
  }
  
  .left-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #e6e5e5;
    background: url(../../static/assets/goal.png);
    border-radius: 0 3rem 3rem 0;
    background-position: 50% center; 
    background-repeat: no-repeat;
  }
  
  .right-pane {
    margin-bottom: 12.1rem;
    margin-left: 8rem;
    justify-self: center;
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .title {
    margin-bottom: 12.4rem;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.105rem;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
  }

  .title > span {
    color: #f04823;
  }
  
  /* .title-part1 {
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2575;
    letter-spacing: 1.05px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
  }
  
  .title-part2 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2575;
    letter-spacing: 1.05px;
    color: #f04823;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
  } */
  
  .date-section {
    margin: 0rem 0rem 8.3rem 7.5rem;
    width: 37.9rem;
    height: 34.6rem;
    position: relative;
    flex-shrink: 0;
  }
  
  .date-border {
    width: 35.9rem;
    height: 33.8rem;
    position: absolute;
    left: 2rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    border-radius: 3.6rem;
  }
  
  .start-label {
color: #FFF;
font-family: "Montserrat", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.6px;
  }
  .start-text {
    font-family: "Montserrat", sans-serif;
    border-radius: 30px;
    color: #FFFF;
    background: #434242;
    width: 371px;
    height: 43px;
    flex-shrink: 0;
    text-align: center;
  }
  
  .end-label {
    text-align: center;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  .end-text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 371px;
    color: #FFFF;
    height: 43px;
    flex-shrink: 0;
    border-radius: 30px;
background: #434242;
  }

  .goal > input{
    text-align: center;
    color: #FFFF;
    font-family: "Montserrat", sans-serif;
  }

.Goal-label{
color: #ffffff;
font-family: "Montserrat", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.6px;
  }
#hours{
width: 371px;
height: 43px;
flex-shrink: 0;
border-radius: 30px;
background: #434242;
}
#minutes {
width: 371px;
height: 43px;
flex-shrink: 0;
border-radius: 30px;
background: #434242;
}

.hours-label {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}

.minutes-label {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}

  /* padding */
  div.start, div.end, div.goal{
    padding-bottom: 20px;
  }

  .button {
    font-size: 20px;
    color: #ffffff; 
    background-color:#F04823; 
    background-size: cover;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
   .button:hover{
    background-color:#343333; 
    cursor: pointer; 
    transition: ease-in 200ms;
   }
   #hours #minutes{
    position: absolute;
    left: 20rem;
   }
