*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
  background: black;
}

nav {
  background-color: #040404;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hamburger {
  display: none; /* Sembunyikan tombol hamburger secara default */
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Close Icon */
.close-icon {
  display: none; /* Sembunyikan simbol "X" secara default */
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.close-icon .line-1 {
  transform: rotate(45deg);
}

.close-icon .line-2 {
  transform: rotate(-45deg);
}


section {
  padding-top: 60px;
  background-color: black;
}


.utama{
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
}

.logo img {
  width: 189px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.menu  .login {
  padding: 6px 30px;
  background-color: #F04823;
  border-radius: 25px;
  font-weight:bold ;
}

.menu a:hover {
  color: #F04823;
}

.menu .login:hover {
  color: white;
  background-color: #212121;
  transition: ease-in-out 200ms;
}
.container-home {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  padding-top: 60px;
  background: url(../assets/homepage.png);
  background-size: cover;
  height: 580px;
  color: white;
}
.content-home {
  width: 580px;
}

.content-home h1 {
  font-size: 96px;
  font-style: italic;
  line-height: 90px;
}

.content-home span {
  color: #F04823;
}

.content-home a.login {
  display: inline-block;
  text-decoration: none;
  background-color: #F04823;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.content-home a.login img {
  vertical-align: middle;
  margin-left: 5px;
}

.content-home a.login:hover {
  background-color: #212121;
  text-decoration: none;
}


.container-about {
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  padding-top: 60px;
  background-color: black;
  height: 500px;
}

.content-about {
  width: 697px;
  color: white;
}

.content-about h1 {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  color: #F04823;
  margin-bottom: 5px;
}

.content-about p {
  font-size: 0.9rem;
}

.content-about h1 span {
  color: white;
}

.img-about {
  position: relative;
  width: 300px; /* Sesuaikan ukuran container sesuai kebutuhan */
}

.img-about img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Atur tumpang tindih gambar about di atas gambar ellipse */
}

.img-about img:last-child {
  position: relative;
  z-index: 1; /* Gambar ellipse diatur di belakang gambar about */
}

.container-about img {
  margin-left: 20px;
  width: 500px;
}


hr{
  border: none;
  margin: 0 3rem;
  border: 2px solid #ffffff;
}

.wrap-content{
    padding: 5rem;
    box-sizing: border-box;
}

.wrap-content > .content{
    width: 650px;
}

.wrap-content > .content > h3 {
    color: #F04823;
    font-style: italic;
    font-size: 1.7rem;
}

.wrap-content > .content > p {
    color: #ffffff;
    font-size: 0.9rem;
    margin-top: 5px;
}
.wrap-content > .teams {
  width: 630px;
}

.tools-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    margin-top: 30px;
  }
  
  .item {
    background-color: #434242;
    color: white;
    width: calc(33.33% - 10px); /* Lebar 3 div di atas dengan jarak */
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: ease-out 200ms;
  }

  .item > h5 {
    width: 35px;
    padding: 10px;
    border-radius: 10px;
    background: gray;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    z-index: 10;
  }

  .item > p{
    margin-top: 10px;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 900;
    z-index: 10;
  }

  .item > img{
    position: absolute;
    top: 20px;
    left: 160px;
    z-index: 0;
  }

  .item > .css{
    position: absolute;
    width: 230px;
    top: 5px;
    left: 220px;
    z-index: 0;
    rotate: -15deg;
  }

  .item > .html{
    position: absolute;
    top: 50px;
    left: 130px;
    z-index: 0;
    width: 230px;
    rotate: -15deg;
  }

  .item > .mysql{
    position: absolute;
    top: -10px;
    left: 40px;
    width: 380px;
    rotate: -15deg;
  }

  .item > .py{
    position: absolute;
    top: 5px;
    left: 160px;
    width: 230px;
    rotate: -25deg;

  }

  .item > .django{
    position: absolute;
    top: 30px;
    left: 250px;
    width: 330px;
    rotate: -15deg;
  }
  
  .item > .media-pype{
    position: absolute;
    top: -5px;
    left: 250px;
    width: 330px;
    rotate: -15deg;
  }

  .item:nth-child(n+4) {
    width: calc(50% - 10px); /* Lebar 2 div di bawah dengan jarak */
  }

  .item:hover{
    scale: 1.01;
    cursor: pointer;
    transition: ease-in 200ms;
  }

  /* TEAMS STYLE  */

  .wrap-content > .content > h3 > span {
    color: #ffff;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Satu kolom untuk desktop */
    grid-gap: 30px;
    margin-top: 50px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .profile {
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 20px;
    padding: 20px;
    text-align: start;
    transition: ease-out 200ms;
  }

  .profile > .wrap-profile {
    background: #C1C1C1;
    border-radius: 20px;
    align-content: flex-end;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .profile:hover{
    scale: 1.01;
    transition: ease-in 200ms;
  }

  .profile > h3 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .profile > p {
    font-size: 0.9rem;
    align-items: center;
    color: #F04823;
    font-weight: 600;
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }

  .profile > .wrap-profile > img {
    width: 350px;
    
  }

  .footer-container{
    background: #28282A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    border-radius: 20px 20px 0 0;
  }

  .footer-container > .wrap-university > .university {
    color: white;
    width: 250px;
    gap: 10px;
    align-items: center;
    display: flex;
    font-weight: 600;
    margin-bottom: 30px;

  }

  .footer-container > .logo-team > img {
    width: 250px;
  }  

  .footer-container > .wrap-university > .university > img{
    width: 50px;
  }
  
  @media screen and (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* Tiga kolom untuk desktop */
    }
  }
  
  @media screen and (max-width: 768px) {
    .menu .hamburger {
      display: block; /* Tampilkan tombol hamburger pada tampilan seluler */
    }
    .close-icon {
      display: none; /* Sembunyikan simbol "X" pada awalnya */
    }
  
    .menu.active .hamburger {
      display: none; /* Sembunyikan tombol hamburger saat menu aktif */
    }
  
    .menu.active .close-icon {
      display: block; /* Tampilkan simbol "X" saat menu aktif */
    }

    .utama {
      padding: 2rem;
    }
  
    .menu ul {
      display: none; /* Sembunyikan daftar menu pada tampilan seluler */
      flex-direction: column;
      background-color: #040404;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 999;
    }
  
    .menu.active ul {
      display: flex; /* Tampilkan daftar menu ketika tombol hamburger diaktifkan */
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .menu li {
      margin: 15px 0;
      text-align: center;
    }
  
    .hamburger.active {
      background-color: transparent;
    }
  
    .hamburger.active::before,
    .hamburger.active::after {
      top: 0;
      transform: rotate(-45deg);
    }
  
    .hamburger.active::after {
      transform: rotate(45deg);
    }
    .wrap-content {
      padding: 2rem; 
      height: auto;
    }
  
    .tools-item {
      flex-direction: column;  
      height: auto;
    }
  
    .item {
      width: 100%; /* Expand items to full width */
      margin-bottom: 20px;
      padding: 20px; /* Reduce padding for smaller screens */
    }
  
    .item > img {
      top: 10px;
      left: 50%; /* Center images horizontally */
      transform: translateX(-50%);
    }

    .item:nth-child(n+4) {
      width: 100%; /* Lebar 2 div di bawah dengan jarak */
    }
  
    .item > .css, .item > .html, .item > .mysql, .item > .py, .item > .django, .item > .media-pype {
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%; 
    }
  
    .item > h5, .item > p {
      text-align: center; 
    }
  
    .container > .wrap-content > .content {
      width: 100%;
    }

    .wrap-content > .teams {
      width: 100%;
    }

    .item > h5 {
      display: none;
    }

    .item > img {
      margin-top: 30px;
    }

    .grid-container {
      grid-template-columns: 1fr;
    }

    .footer-container > .wrap-university > .university {
      flex-direction: column;
      text-align: center;
    }

    .footer-container {
      flex-direction: column;
      gap: 60px;
    }

    .item > .css{
      rotate: 0deg;
    }
  
    .item > .html{
      rotate: 0deg;
    }
  
    .item > .mysql{
      rotate: 0deg;
    }
  
    .item > .py{
      rotate: 0deg;
  
    }
  
    .item > .django{
      rotate: 0deg;
    }
    
    .item > .media-pype{
      rotate: 0deg;
    }
  }