
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}

.my-page-container {
  box-sizing: border-box;
  padding: 6.3rem 10.8rem 11rem 7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.header-section {
  margin: 0rem 63rem 11.1rem 0rem;
  width: calc(100% - 63rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.header-section .username-text {
  margin-right: 0.3rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.192rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header-section .start-button {
  margin-bottom: 0.3rem;
  width: 22rem;
  height: 5.4rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.075rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f04823;
  border-radius: 3rem;
  flex-shrink: 0;
}
.goal-section {
  margin-left: 1.7rem;
  width: 124.5rem;
  height: 66.2rem;
  position: relative;
  flex-shrink: 0;
}
.goal-section .profile-img{
  width: 35.9rem;
  height: 33.8rem;
  position: absolute;
  left: 84.7rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.6rem;
}
.goal-section .goal-bg  {
  width: 122.5rem;
  height: 26.5rem;
  position: absolute;
  left: 2rem;
  top: 0;
  background-color: #6d6d6d;
  border-radius: 3rem;
}
.goal-section .goal-label  {
  width: 14.9rem;
  height: 5.9rem;
  position: absolute;
  left: 5.8rem;
  top: 1.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.144rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.goal-section .progress-bg  {
  width: 102.1rem;
  height: 3.9rem;
  position: absolute;
  left: 4.5rem;
  top: 13.3rem;
  background-color: #d9d9d9;
}

.goal-section .progress-bar {
  width: 55.8rem;
  height: 3.9rem;
  position: absolute;
  left: 4.3rem;
  top: 13.3rem;
  background-color: #748afb;
}
.goal-section .set-goal-indicator  {
  width: 10.6rem;
  height: 3.4rem;
  position: absolute;
  left: 41rem;
  top: 2.8rem;
  background-color: #f04823;
  border-radius: 3rem;
}
.goal-section .set-goal-text {
  width: 5.5rem;
  height: 1.5rem;
  position: absolute;
  left: 43.7rem;
  top: 3.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.036rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

.goal-section .goal-time  {
  width: 17.3rem;
  height: 3.9rem;
  position: absolute;
  left: 22.4rem;
  top: 2.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.096rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.goal-section .percentage-text {
  width: 8.3rem;
  height: 4.4rem;
  position: absolute;
  left: 111rem;
  top: 12.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.108rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.goal-section .exercise-container-left {
  width: 55.4rem;
  height: 33.2rem;
  position: absolute;
  left: 2rem;
  top: 33rem;
  background-color: #6d6d6d;
  border-radius: 3rem;
}
.goal-section .exercise-container-right {
  width: 55.4rem;
  height: 33.2rem;
  position: absolute;
  left: 69.1rem;
  top: 33rem;
  background-color: #6d6d6d;
  border-radius: 3rem;
}
.goal-section .calories-text  {
  width: 32.7rem;
  height: 7.8rem;
  position: absolute;
  left: 78.5rem;
  top: 51.7rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.192rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.goal-section .exercise-label  {
  width: 30.4rem;
  height: 11.7rem;
  position: absolute;
  left: 4.8rem;
  top: 35.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.144rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
}
.goal-section .used-calories-label {
  width: 36.1rem;
  height: 5.9rem;
  position: absolute;
  left: 73.6rem;
  top: 35.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.144rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.goal-section .total-hours-text {
  width: 30.2rem;
  height: 7.8rem;
  position: absolute;
  left: 16.4rem;
  top: 51.9rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.192rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
#tHours {
  left: 22.5rem;
}
#hour-unit {
  left: 28rem;
}
.start-button {
  left: 0rem;
}
#goal-time-num {
  left: 21rem;
}
#goal-time-unit {
  left: 29rem;
}
#percentage-unit {
  left: 117.5rem;
}
#calories-unit {
  left: 97rem;
}
#total-hour-unit {
  left: 30rem;
}